body{
    background: lightblue;
    font-family: "HelveticaNeue","Helvetica Neue","Helvetica","Arial","sans-serif";
}

a{
    color:white;
    text-decoration: none;
}

#page{
    background: white;
    width:95%;
    margin: 0 auto;

}
#header{

    margin-top: 10px;
    background:steelblue;
    height:50px;
    padding:10px;
}



#banner{

width:70%;
    float:left;

}

#login{
    display:inline;
}

#content{

}

#main{
    width: 65%;
    float:left;
}

#sidebar{
    width:35%;
    display: inline;
}

#footer{


    background:steelblue;
}

#acceso input{
    color:red;
}