<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="default.css" />
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>
    <body>
        <div id="page">
            <div id="header">
                <div id="banner">
                    <h3>
                        <a href="index.php"><img src="../../img/heart.png"/>WishList</a>
                    </h3>
                </div>
                <div id="login">Login</div>
            </div>
            <div id="content">
                <div id="main">Main</div>
                <div id="sidebar">Sidebar</div>
            </div>
            <div id="footer">Pie</div>
        </div>
    </body>
</html>
